    #tasks-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tasks-table td, #tasks-table th {
    border: 3px solid #ddd;
    padding: 8px;
}

#tasks-table tr:nth-child(even){background-color: #f2f2f2;}

#tasks-table tr:hover {background-color: #ddd;}

#tasks-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0000cc;
    color: white;
}